<?xml version="1.0" encoding="utf-8"?>
<?if $(sys.BUILDARCH)="x86"?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
<?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="medical-sound" UpgradeCode="e0dfbd15-13eb-5345-91a9-626bbd9f480b" Language="!(loc.TauriLanguage)" Manufacturer="medical-sound" Version="0.5.0">
        <Package Id="*" Keywords="Installer" InstallerVersion="450" Languages="0" Compressed="yes" InstallScope="perMachine" SummaryCodepage="!(loc.TauriCodepage)" />
        <!-- https://docs.microsoft.com/en-us/windows/win32/msi/reinstallmode -->
        <!-- reinstall all files; rewrite all registry entries; reinstall all shortcuts -->
        <Property Id="REINSTALLMODE" Value="amus" />
        <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />
        <InstallExecuteSequence>
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
        </InstallExecuteSequence>
        <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />
        <Icon Id="ProductIcon" SourceFile="D:\@rust\medical-sound\src-tauri\target\i686-pc-windows-msvc\release\resources\icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
        <!-- Remove repair -->
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute" />
        <!-- initialize with previous InstallDir -->
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="PrevInstallDirReg" Root="HKCU" Key="Software\medical-sound\medical-sound" Name="InstallDir" Type="raw" />
        </Property>
        <!-- launch app checkbox -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchApp)" />
        <Property Id="WixShellExecTarget" Value="[!Path]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
        <UI>
            <!-- ADDED -->
            <Property Id="LicenseCode" />
            <!-- ADDED -->
            <!-- launch app checkbox -->
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
            <!-- ADDED -->
            <Dialog Id="LicenseDlg" Width="370" Height="270" Title="medical-sound Setup">
                <Control Type="Edit" Id="EditLicense" Width="190" Height="15" X="100" Y="120" Property="LicenseCode" Password="yes" />
                <Control Type="PushButton" Id="Next" Width="56" Height="20" X="234" Y="155" Text="Next">
                    <Publish Event="NewDialog" Value="InstallDirDlg">LicenseCode = "Pm0913"</Publish>
                </Control>
                <Control Type="PushButton" Id="Back" Width="56" Height="20" X="100" Y="155" Text="Back">
                    <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
                </Control>
                <!-- <Control Type="PushButton" Id="Cancel" Width="56" Height="20" X="234" Y="150" Text="Cancel">
                    <Publish Event="NewDialog" Value="CancelDlg">1</Publish>
                </Control> -->
                <Control Type="Text" Id="Label" Width="190" Height="20" X="100" Y="90" Text="Enter the License Key :" />
            </Dialog>
            <!-- ADDED -->
        </UI>
        <UIRef Id="WixUI_InstallDir" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="ApplicationShortcutDesktop" Guid="*">
                    <Shortcut Id="ApplicationDesktopShortcut" Name="medical-sound" Description="Runs medical-sound" Target="[!Path]" WorkingDirectory="INSTALLDIR" />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\medical-sound\medical-sound" Name="Desktop Shortcut" Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="medical-sound" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="medical-sound" />
            </Directory>
        </Directory>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="RegistryEntries" Guid="*">
                <RegistryKey Root="HKCU" Key="Software\medical-sound\medical-sound">
                    <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
                </RegistryKey>
            </Component>
            <Component Id="Path" Guid="3f4cb81d-bdb4-55a3-80f5-db93242922b7" Win64="$(var.Win64)">
                <File Id="Path" Source="D:\@rust\medical-sound\src-tauri\target\i686-pc-windows-msvc\release\medical-sound.exe" KeyPath="yes" Checksum="yes" />
            </Component>
            <Directory Id="Idcae29defd0844e7b9051e1336cce8fd" Name="_up_">
                <Directory Id="I6c731115bf8e4d68a7b031eaa63216aa" Name="src">
                    <Directory Id="I44cfd86721b244498aee1a594bdeb4e5" Name="assets">
                        <Directory Id="I8c32248b642f4fd3b5208ced859cb59f" Name="images">
                            <Component Id="Ia073204de2754dde9eb93cf3534727f0" Guid="f6f67ca2-6ca1-45f7-a2b2-10a1b8e7200e" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Ia073204de2754dde9eb93cf3534727f0" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_1.png" />
                            </Component>
                            <Component Id="I84d531e2e540433b83cee98912b5c930" Guid="b5c6a4f0-ce3c-4f06-87e7-4fa98d310919" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I84d531e2e540433b83cee98912b5c930" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_2.png" />
                            </Component>
                            <Component Id="I0eb6fc0a92314e4fa2aa71d53ec109f8" Guid="3cf7df72-dbb8-4ecb-bf22-0653b281bc44" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I0eb6fc0a92314e4fa2aa71d53ec109f8" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_3.png" />
                            </Component>
                            <Component Id="I2f95f1c9a12e4cf2849d502ad6fd2d63" Guid="0d0ead6a-951b-47de-9d64-b4640e6fdb64" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I2f95f1c9a12e4cf2849d502ad6fd2d63" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_4.png" />
                            </Component>
                            <Component Id="Id1d5c22c2fda41eca3cef6f79e2e2fc1" Guid="054e942d-797f-46c6-bdb9-ae55e582afb2" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Id1d5c22c2fda41eca3cef6f79e2e2fc1" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_5.png" />
                            </Component>
                            <Component Id="Ibc0370090c8d44a3b6f045c69866848c" Guid="43e8e7cb-eea8-4ea1-b33e-d5cfc31adc78" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Ibc0370090c8d44a3b6f045c69866848c" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_6.png" />
                            </Component>
                            <Component Id="I9f5cdfde10a245ecbc9fd49d286dce87" Guid="127cc1f6-92c8-4416-932e-5ecd4ad4f8cc" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I9f5cdfde10a245ecbc9fd49d286dce87" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_7.png" />
                            </Component>
                            <Component Id="I07b20f53bf334e27a8aab9a8842e10a3" Guid="c5027b5d-0b53-47f7-8c3f-41fe7445eae8" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I07b20f53bf334e27a8aab9a8842e10a3" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_8.png" />
                            </Component>
                            <Component Id="I54555129631447df8e9a00e6083b510b" Guid="668f46db-edfe-406f-8a00-231b98843c4c" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I54555129631447df8e9a00e6083b510b" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\images\img_9.png" />
                            </Component>
                        </Directory>
                        <Directory Id="I72597f7e0fcd4d45a2abfca55faa88a9" Name="sounds">
                            <Component Id="Ib95b267eba304ca08b25e70eaf340989" Guid="8427db4e-7f0b-4b8c-806e-a72a5e987502" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Ib95b267eba304ca08b25e70eaf340989" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_1.mp3" />
                            </Component>
                            <Component Id="I371e00a93e6d4798b145549a919a6faa" Guid="f9db21d4-e021-4b23-9417-bba29fe5074c" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I371e00a93e6d4798b145549a919a6faa" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_2.mp3" />
                            </Component>
                            <Component Id="I74ec26aeda0c46c4ab11a6c9e2e2f673" Guid="a6ae0330-3431-415e-ab10-cff09dbcd77e" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I74ec26aeda0c46c4ab11a6c9e2e2f673" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_3.mp3" />
                            </Component>
                            <Component Id="I0a8ae47265834924b75b515f3d6c7c6d" Guid="e7ae20ed-5946-43d7-87ad-755a403ccdf9" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I0a8ae47265834924b75b515f3d6c7c6d" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_4.mp3" />
                            </Component>
                            <Component Id="Id6695af4f8cc4d919128ff74966eb844" Guid="453d570a-9590-4b53-9ac2-cdf0a7b379a6" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Id6695af4f8cc4d919128ff74966eb844" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_5.mp3" />
                            </Component>
                            <Component Id="I1c19642e35c14fd581530733824db754" Guid="a9f42422-f3b7-4352-9682-8fdec859448e" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I1c19642e35c14fd581530733824db754" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_6.mp3" />
                            </Component>
                            <Component Id="I262ffdafe29d455ea4382e5be5591ad2" Guid="2f195018-4ebe-4f52-a946-d983d6f62af9" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I262ffdafe29d455ea4382e5be5591ad2" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_7.mp3" />
                            </Component>
                            <Component Id="Id97e6592c4da48ab8a395f21b9c89944" Guid="92083fa3-d5fe-43d4-a6eb-615ba3a934b2" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Id97e6592c4da48ab8a395f21b9c89944" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_8.mp3" />
                            </Component>
                            <Component Id="I85ba9538866f45b49832064711b707e0" Guid="71543c42-71cf-405d-9878-3c1d44ae5daa" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I85ba9538866f45b49832064711b707e0" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\1_9.mp3" />
                            </Component>
                            <Component Id="If6aa4df7fc2243588d8f12c0ccbc92a5" Guid="a6feca85-47fe-4531-91fe-19ea1b970ee7" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_If6aa4df7fc2243588d8f12c0ccbc92a5" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_1.mp3" />
                            </Component>
                            <Component Id="I0fdc53b97492468cb1d91c3ad0e698a8" Guid="fc100ab2-7cd9-4abe-8805-d20137046376" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I0fdc53b97492468cb1d91c3ad0e698a8" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_2.mp3" />
                            </Component>
                            <Component Id="Iff1ee0787a114108b017ce77d9f3404e" Guid="3402a033-1da6-4750-bfeb-6b0279b2a594" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Iff1ee0787a114108b017ce77d9f3404e" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_3.mp3" />
                            </Component>
                            <Component Id="Ie0fb01b7bab543d88b75195cf14d3afe" Guid="3482c494-5563-4a88-ad43-734e001cbe69" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Ie0fb01b7bab543d88b75195cf14d3afe" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_4.mp3" />
                            </Component>
                            <Component Id="If607aae0c1ec45b7a8030ac2196d9a6d" Guid="9bf302c0-7286-49f2-a629-293ff47c4ded" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_If607aae0c1ec45b7a8030ac2196d9a6d" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_5.mp3" />
                            </Component>
                            <Component Id="I2b6c6e7c851849e8a88fa438c6ac6419" Guid="7f407c9e-2eb2-4b46-9ac8-7cd70b462c2f" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I2b6c6e7c851849e8a88fa438c6ac6419" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_6.mp3" />
                            </Component>
                            <Component Id="Ic21216da3da84886b54b6663f8a1e850" Guid="b74a092f-dc4b-4091-9913-46e0be376f9c" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Ic21216da3da84886b54b6663f8a1e850" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_7.mp3" />
                            </Component>
                            <Component Id="Ie7ec5f1f333f4f89a6c94361e8716d90" Guid="e477655e-d3cf-4766-a771-a57984504c39" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_Ie7ec5f1f333f4f89a6c94361e8716d90" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_8.mp3" />
                            </Component>
                            <Component Id="I44a57d9b56a34fdfb5cac1d520a6a393" Guid="9343006c-70db-430c-9416-6465272ad9ba" Win64="$(var.Win64)" KeyPath="yes">
                                <File Id="PathFile_I44a57d9b56a34fdfb5cac1d520a6a393" Source="D:\@rust\medical-sound\src-tauri\..\src\assets\sounds\2_9.mp3" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Component Id="CMP_UninstallShortcut" Guid="*">
                <Shortcut Id="UninstallShortcut" Name="Uninstall medical-sound" Description="Uninstalls medical-sound" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                <RemoveFolder Id="INSTALLDIR" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\medical-sound\medical-sound" Name="Uninstaller Shortcut" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="medical-sound" Description="Runs medical-sound" Target="[!Path]" Icon="ProductIcon" WorkingDirectory="INSTALLDIR">
                    <ShortcutProperty Key="System.AppUserModel.ID" Value="medical-sound" />
                </Shortcut>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\medical-sound\medical-sound" Name="Start Menu Shortcut" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <Feature Id="MainProgram" Title="Application" Description="!(loc.InstallAppFeature)" Level="1" ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" Display="expand" Absent="disallow">
            <ComponentRef Id="RegistryEntries" />
            <ComponentRef Id="Ia073204de2754dde9eb93cf3534727f0"/>
            <ComponentRef Id="I84d531e2e540433b83cee98912b5c930"/>
            <ComponentRef Id="I0eb6fc0a92314e4fa2aa71d53ec109f8"/>
            <ComponentRef Id="I2f95f1c9a12e4cf2849d502ad6fd2d63"/>
            <ComponentRef Id="Id1d5c22c2fda41eca3cef6f79e2e2fc1"/>
            <ComponentRef Id="Ibc0370090c8d44a3b6f045c69866848c"/>
            <ComponentRef Id="I9f5cdfde10a245ecbc9fd49d286dce87"/>
            <ComponentRef Id="I07b20f53bf334e27a8aab9a8842e10a3"/>
            <ComponentRef Id="I54555129631447df8e9a00e6083b510b"/>
            <ComponentRef Id="Ib95b267eba304ca08b25e70eaf340989"/>
            <ComponentRef Id="I371e00a93e6d4798b145549a919a6faa"/>
            <ComponentRef Id="I74ec26aeda0c46c4ab11a6c9e2e2f673"/>
            <ComponentRef Id="I0a8ae47265834924b75b515f3d6c7c6d"/>
            <ComponentRef Id="Id6695af4f8cc4d919128ff74966eb844"/>
            <ComponentRef Id="I1c19642e35c14fd581530733824db754"/>
            <ComponentRef Id="I262ffdafe29d455ea4382e5be5591ad2"/>
            <ComponentRef Id="Id97e6592c4da48ab8a395f21b9c89944"/>
            <ComponentRef Id="I85ba9538866f45b49832064711b707e0"/>
            <ComponentRef Id="If6aa4df7fc2243588d8f12c0ccbc92a5"/>
            <ComponentRef Id="I0fdc53b97492468cb1d91c3ad0e698a8"/>
            <ComponentRef Id="Iff1ee0787a114108b017ce77d9f3404e"/>
            <ComponentRef Id="Ie0fb01b7bab543d88b75195cf14d3afe"/>
            <ComponentRef Id="If607aae0c1ec45b7a8030ac2196d9a6d"/>
            <ComponentRef Id="I2b6c6e7c851849e8a88fa438c6ac6419"/>
            <ComponentRef Id="Ic21216da3da84886b54b6663f8a1e850"/>
            <ComponentRef Id="Ie7ec5f1f333f4f89a6c94361e8716d90"/>
            <ComponentRef Id="I44a57d9b56a34fdfb5cac1d520a6a393"/>
            <Feature Id="ShortcutsFeature" Title="Shortcuts" Level="1">
                <ComponentRef Id="Path" />
                <ComponentRef Id="CMP_UninstallShortcut" />
                <ComponentRef Id="ApplicationShortcut" />
                <ComponentRef Id="ApplicationShortcutDesktop" />
            </Feature>
            <Feature Id="Environment" Title="PATH Environment Variable" Description="!(loc.PathEnvVarFeature)" Level="1" Absent="allow">
                <ComponentRef Id="Path" />
            </Feature>
        </Feature>
        <Feature Id="External" AllowAdvertise="no" Absent="disallow"></Feature>
        <!-- WebView2 -->
        <Property Id="WVRTINSTALLED">
            <RegistrySearch Id="WVRTInstalledSystem" Root="HKLM" Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Name="pv" Type="raw" Win64="no" />
            <RegistrySearch Id="WVRTInstalledUser" Root="HKCU" Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Name="pv" Type="raw" />
        </Property>
        <CustomAction Id="DownloadAndInvokeBootstrapper" Directory="INSTALLDIR" Execute="deferred" ExeCommand="powershell.exe -NoProfile -windowstyle hidden Invoke-WebRequest -Uri &quot;https://go.microsoft.com/fwlink/p/?LinkId=2124703&quot; -OutFile &quot;$env:TEMP\MicrosoftEdgeWebview2Setup.exe&quot; ; &amp; $env:TEMP\MicrosoftEdgeWebview2Setup.exe /install" Return="check" />
        <InstallExecuteSequence>
            <Custom Action="DownloadAndInvokeBootstrapper" Before="InstallFinalize"><![CDATA[NOT(REMOVE OR WVRTINSTALLED)]]></Custom>
        </InstallExecuteSequence>
        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
    </Product>
</Wix>
